.contents row {
  display: flex;
  text-align: center;
  
  
}

.content_post {
  background-color: #e2e9d3;
  width: 500px;
  height: 50vh;
  margin: 0 450px;
 
  
 

  

}
.day {
  height: 50px;
  padding: 0 200px;
  background-color: #ddeeae;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  


}

.text {
  background-color: #d9eead;
  width: 300px;
  height: 35vh;
  text-align: center;
  
  
}

.p{

  text-align:center;

}


  
  


