<div class="contents row">
  <% @texts.each do |text| %>
    <div class="content_post" style="background-image: url(<%= text.image %>);">
      <p><%= text.text %></p>
      <span class="day">
        <%= text.day %>
      </span>
    </div>
  <% end %>
</div>
